table {
  justify-items: stretch;
  border-color: white;
  border-spacing: 15px 0px;
  border-width: 2px;
  width: available;
}

td.field-label {
  font-weight: 900;
  align-content: end;
}

field-content
{
  font-weight: normal;
}

mat-expansion-panel-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  letter-spacing: normal;
}


td {
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: aliceblue;
  border: 1px solid black;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}
