<div class="group-header">Patient Choices</div>
<table>
  <tr>
    <td>Renal Replacement Therapy:</td>
    <td>
      <mat-form-field>
        <mat-label>Select Preferred Modality</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="Hemodialysis">Hemodialysis</mat-option>
          <mat-option value="Peritoneal Dialysis">Peritoneal Dialysis</mat-option>
          <mat-option value="Transplant">Transplant</mat-option>
          <mat-option value="Supportive Care with No RRT">Supportive Care with No RRT</mat-option>
          <mat-option value="Transplant">Transplant</mat-option>
          <mat-option value="Undecided">Undecided</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>
