<div class="group-header">Education</div>

<table mat-table [dataSource]="dataSource" matSort width="100%">
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef width="35%" mat-sort-header>Topic</th>
    <td mat-cell *matCellDef="let item"> {{item.topic.text}} </td>
  </ng-container>

  <ng-container matColumnDef="displayDate" width="10%">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let item"> {{item.displayDate}} </td>
  </ng-container>

  <ng-container matColumnDef="performer" width="15%">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Performer</th>
    <td mat-cell *matCellDef="let item"> {{item.performer}} </td>
  </ng-container>

  <ng-container matColumnDef="reasons" width="20%">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
    <td mat-cell *matCellDef="let item"> {{item.reasons}} </td>
  </ng-container>

  <ng-container matColumnDef="outcome" width="10%">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Outcome</th>
    <td mat-cell *matCellDef="let item"> {{item.outcome.text}}</td>
  </ng-container>

  <ng-container matColumnDef="status" width="10%">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let item"> {{item.status | titlecase}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'outofrange': row.status == 'high'}"
    (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
</table>