<mat-panel-title class="group-header" >Target Laboratory/Clinical Values</mat-panel-title>
<mat-table [dataSource]="dataservice.targetValues">

  <ng-container matColumnDef="measure">
    <mat-header-cell *matHeaderCellDef>Measure</mat-header-cell>
    <mat-cell *matCellDef="let targetValue"> {{targetValue.measure}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mostRecentResult">
    <mat-header-cell *matHeaderCellDef>Most Recent Result</mat-header-cell>
    <mat-cell *matCellDef="let targetValue"> {{targetValue.mostRecentResult}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Test Date</mat-header-cell>
    <mat-cell *matCellDef="let targetValue"> {{targetValue.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="target">
    <mat-header-cell *matHeaderCellDef>Target (if available) </mat-header-cell>
    <mat-cell *matCellDef="let targetValue"> {{targetValue.target}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'outofrange': row.status == 'high'}" (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
</mat-table>

