<b>Change in eGFR over Time</b>
<table width="100%">
  <tr>
    <td>
      <div class="chart-wrapper">
        <canvas baseChart
                [datasets]="this.dataservice.egfr.chartData"
                [options]="this.dataservice.egfr.lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins" height="200">
        </canvas>
      </div>
    </td>
    <td>
<!--      <table width="100%">-->
<!--        <tr>-->
<!--          <td>Date</td>-->
<!--          <td>Result</td>-->
<!--        </tr>-->
<!--        <tr class="resultCritical">-->
<!--          <td>05/21/2017</td>-->
<!--          <td>14 mL/min/1.73m<sup>2</sup></td>-->
<!--        </tr>-->
<!--        <tr class="resultBorderline">-->
<!--          <td>04/23/2017</td>-->
<!--          <td>53 mL/min/1.73m<sup>2</sup></td>-->
<!--        </tr>-->
<!--        <tr class="resultBorderline">-->
<!--          <td>03/11/2017</td>-->
<!--          <td>57 mL/min/1.73m<sup>2</sup></td>-->
<!--        </tr>-->
<!--        <tr class="resultBorderline">-->
<!--          <td>02/11/2017</td>-->
<!--          <td>58 mL/min/1.73m<sup>2</sup></td>-->
<!--        </tr>-->
<!--        <tr class="resultBorderline">-->
<!--          <td>01/10/2017</td>-->
<!--          <td>59 mL/min/1.73m<sup>2</sup></td>-->
<!--        </tr>-->
<!--        <tr class="resultGood">-->
<!--          <td >12/12/2016</td>-->
<!--          <td>64 mL/min/1.73m<sup>2</sup></td>-->
<!--        </tr>-->
<!--       </table>-->
      <table mat-table matSort [dataSource]="egfrDataSource" width="100%">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Date</th>
          <td mat-cell *matCellDef="let egfr"> {{egfr.date | date: 'MM/dd/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="result">Result</th>
          <td mat-cell *matCellDef="let egfr" [innerHTML]="EgfrResult(egfr)"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false"
            [ngClass]="getEgfrRowCssClass(row)">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons
                     [ngStyle]="{display: this.egfrDataSource.data.length > this.egfrRowMax ? 'block' : 'none'}">
      </mat-paginator>
    </td>
  </tr>
</table>
