<b>Change in eGFR over Time</b>
<table width="100%">
  <tr>
    <td>Graph goes here</td>
    <td>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Result</td>
        </tr>
        <tr class="resultGood">
          <td>05/21/2017</td>
          <td>28 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>04/23/2017</td>
          <td>31 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>03/11/2017</td>
          <td>35 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>02/11/2017</td>
          <td>35 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>01/10/2017</td>
          <td>42 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td >12/12/2016</td>
          <td>46 mL/min/1.73m<sup>2</sup></td>
        </tr>
       </table>
    </td>
  </tr>
</table>
