<b>Change in eGFR over Time</b>
<table width="100%">
  <tr>
    <td>
      <div class="chart-wrapper-eGFR">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins" height="200">
        </canvas>
      </div>
    </td>
    <td>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Result</td>
        </tr>
        <tr class="resultGood">
          <td>05/21/2017</td>
          <td>64 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>04/23/2017</td>
          <td>59 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>03/11/2017</td>
          <td>58 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>02/11/2017</td>
          <td>57 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultBorderline">
          <td>01/10/2017</td>
          <td>53 mL/min/1.73m<sup>2</sup></td>
        </tr>
        <tr class="resultCritical">
          <td >12/12/2016</td>
          <td>14 mL/min/1.73m<sup>2</sup></td>
        </tr>
       </table>
    </td>
  </tr>
</table>
