<b>Change in UAVR over Time</b>
<table width="100%">
  <tr>
    <td>Graph goes here</td>
    <td>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Result</td>
        </tr>
        <tr class="resultGood">
          <td>05/21/2017</td>
          <td>1345 mg/g</td>
        </tr>
        <tr class="resultGood">
          <td>04/23/2017</td>
          <td>1320 mg/g</td>
        </tr>
        <tr class="resultGood">
          <td>03/11/2017</td>
          <td>1310 mg/g</td>
        </tr>
        <tr class="resultGood">
          <td>02/11/2017</td>
          <td>1310 mg/g</td>
        </tr>
        <tr class="resultGood">
          <td>01/10/2017</td>
          <td>1345 mg/g</td>
        </tr>
        <tr class="resultGood">
          <td>12/12/2016</td>
          <td>1345 mg/g</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

