chart-wrapper {
  height: 150px;
  width: 200px;
}

mat-table {
  vertical-align: top;
  overflow: auto;
  max-height: 400px;
}

tr.mat-table {
  vertical-align: top;
  min-width: 350px;
}

tr.mat-header-row {
  min-height: 24px;
  height: 24px !important;
}

tr.mat-row {
  min-height: 24px;
  height: 24px !important;
}

tr.mat-row.resultGood{
  background-color: rgba(247, 245, 116, 0.3);
}

tr.mat-row.resultBorderline{
  background-color: rgba(128, 204, 113, 0.3);
}

tr.mat-row.resultCritical{
  background-color: rgba(227, 127, 104, 0.3);
}
