<b>Change in UACR over Time</b>
<table width="100%">
  <tr>
    <td>
      <div class="uACR">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins" height="200">
        </canvas>
      </div>
      </td>
    <td>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Result</td>
        </tr>
        <tr class="resultGood">
          <td>05/21/2017</td>
          <td>28 mg/g</td>
        </tr>
        <tr class="resultBorderline">
          <td>04/23/2017</td>
          <td>31 mg/g</td>
        </tr>
        <tr class="resultBorderline">
          <td>03/11/2017</td>
          <td>32 mg/g</td>
        </tr>
        <tr class="resultBorderline">
          <td>02/11/2017</td>
          <td>35 mg/g</td>
        </tr>
        <tr class="resultBorderline">
          <td>01/10/2017</td>
          <td>37 mg/g</td>
        </tr>
        <tr class="resultGood">
          <td>12/12/2016</td>
          <td>38 mg/g</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

