<app-active-diagnosis-panel *ngIf="featureToggling.healthAndSocialConcerns.activeDiagnoses && getActiveIsReady()">
</app-active-diagnosis-panel>

<div *ngIf="featureToggling.healthAndSocialConcerns.activeDiagnoses && !getActiveIsReady()" style="height: 200px;">
    <mat-panel-title class="group-header">Active Diagnoses</mat-panel-title>
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>

<app-inactive-diagnosis-panel *ngIf="featureToggling.healthAndSocialConcerns.inactiveDiagnoses && getInActiveIsReady()">
</app-inactive-diagnosis-panel>

<div *ngIf="featureToggling.healthAndSocialConcerns.inactiveDiagnoses && !getInActiveIsReady()" style="height: 200px;">
    <mat-panel-title class="group-header">Inactive Diagnoses</mat-panel-title>
    <mat-spinner style="margin:0 auto;" mode=" indeterminate">
    </mat-spinner>
</div>