mat-table {
  vertical-align: top;
}

tr.mat-table {
  vertical-align: top;
  min-width: 450px;
}

tr.mat-header-row {
  min-height: 24px;
  height: 24px !important;
}

tr.mat-row {
  min-height: 24px;
  height: 24px !important;
  background-color: lightgreen;
}

tr.mat-row.outofrange {
  min-height: 24px;
  height: 24px !important;
  background-color: lightyellow;
}

tr.mat-row.critical {
  min-height: 24px;
  height: 24px !important;
  background-color: red;
}
