.group-header_save {
  justify-content: center;
  vertical-align: top;
  background: blue;
  color: white;
}

mat-table {
  vertical-align: top;
}

tr.mat-table {
  vertical-align: top;
  min-width: 700px;
}

tr.mat-header-row {
  min-height: 24px;
  height: 24px !important;
}

tr.mat-row {
  min-height: 24px;
  height: 24px !important;
}


th.mat-header-cell, td.mat-cell {
  text-align: left;

}
