<b>Change in weight over Time</b>
<table width="100%">
  <tr>
    <td>Graph goes here</td>
    <td>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Result</td>
        </tr>
        <tr class="resultBorderline">
          <td>05/21/2017</td>
          <td>185 lbs</td>
        </tr>
        <tr class="resultBorderline">
          <td>04/23/2017</td>
          <td>178 lbs</td>
        </tr>
        <tr class="resultGood">
          <td>03/11/2017</td>
          <td>174 lbs</td>
        </tr>
        <tr class="resultGood">
          <td>02/11/2017</td>
          <td>174 lbs</td>
        </tr>
        <tr class="resultBorderline">
          <td>01/10/2017</td>
          <td>180</td>
        </tr>
        <tr class="resultBorderline">
          <td >12/12/2016</td>
          <td>185</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

