<mat-panel-title class="group-header">Active Diagnoses</mat-panel-title>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Condition</th>
    <td mat-cell *matCellDef="let condition">{{condition.code.text}}
    </td>
  </ng-container>
  <ng-container matColumnDef="rxfilter">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let condition" (click)="$event.stopPropagation()">
      <mat-icon *ngIf="condition.profileId!=null" (click)="switchToHM()"
        matTooltip="Switch to Health Maintenance using this codition as a focus"
        aria-label="Selection to change to the Health Maintance and Intervention tab using this condition as a focus">
        local_pharmacy</mat-icon>
    </td>
  </ng-container>
  <!-- Trend Filter -->
  <ng-container matColumnDef="trend">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let condition" (click)="$event.stopPropagation()">
      <mat-icon *ngIf="condition.profileId != null" (click)="switchToHS()"
        matTooltip="Switch to Heath Status using this condition as a focus"
        aria-label="Selection to change to the the Health Status Evaluation and Outcomes using this condition as a focus">
        timeline</mat-icon>
    </td>
  </ng-container>
  <!-- Date -->
  <ng-container matColumnDef="firstOnset">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Initial Diagnosis</th>
    <td mat-cell *matCellDef="let condition">{{condition.firstOnset}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator *ngIf="dataservice.conditions.activeConditions.length > 10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


<!-- <button>Mark selected as inactive</button> -->