.mat-grid-tile-header
{

}

mat-table {
  vertical-align: top;
  min-width: 500px;

}
mat-header-row {
  min-height: 48px;
  height: 48px !important;
}

mat-row {
  min-height: 24px;
  height: 24px !important;
}
.mat-column-checked {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-condition{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-rxfilter{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-trend{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-date{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

th.mat-header-cell, td.mat-cell {
  text-align: left;
  border: 1px solid #CCC;
  padding: 0 !important;
}

.app-active-diagnosis-panel {
  width: 100%;
  height: 100%;
  vertical-align: top;
  horiz-align: left;
}
