<div class="wrapper">
  <section>
    <app-diagnosis-panel>
    </app-diagnosis-panel>
  </section>
  <section *ngIf="getSocialConcernIsReady() && featureToggling.healthAndSocialConcerns.socialConcerns">
    <app-social-concern-panel>
    </app-social-concern-panel>
  </section>
  <section *ngIf="!getSocialConcernIsReady() && featureToggling.healthAndSocialConcerns.socialConcerns">
    <div style="height: 200px;">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
  </section>
</div>