<mat-panel-title class="group-header">Health Concernsccc</mat-panel-title>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon>check</mat-icon>
    </th>
    <td mat-cell *matCellDef="let diagnosis">
      <mat-checkbox [(ngModel)]="diagnosis.checked"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Concern</th>
    <td mat-cell *matCellDef="let concern"> {{concern.name}} </td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="data">Value</th>
    <td mat-cell *matCellDef="let concern"> {{concern.data | titlecase }} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Last update</th>
    <td mat-cell  *matCellDef="let concern"> {{concern.date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted"
    (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
  -->
</table>
