<div class="group-header" >Patient Goals</div>
<table mat-table [dataSource]="dataservice.goals.activePatientGoals" width="100%">

  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td mat-cell *matCellDef="let goal"> {{goal.priority}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Goal</th>
    <td mat-cell *matCellDef="let goal"> {{goal.description}} </td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let goal"> {{goal.created}} </td>
  </ng-container>
  <ng-container matColumnDef="targetdate">
    <th mat-header-cell *matHeaderCellDef>Target Date</th>
    <td mat-cell *matCellDef="let goal"> {{goal.targetdate}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let goal"> {{goal.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
</table>

<button>Add Patient Goal</button>
