<h2 mat-dialog-title>{{description}}</h2>
<mat-dialog-content [formGroup]="form">



  <mat-form-field>
    <input matInput required placeholder="Goal Description" formControlName="description">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Goal Lifecycle Status</mat-label>
    <select matNativeControl required formControlName="lifecycleStatus">
      <option value="proposed">Proposed A goal is proposed for this patient.</option>
      <option value="planned">Planned A goal is planned for this patient.</option>
      <option value="accepted">Accepted A proposed goal was accepted or acknowledged.</option>
      <option value="active">Active The goal is being sought actively.</option>
      <option value="on-hold">On Hold The goal remains a long term objective but is no longer being actively pursued for a temporary period of time</option>
      <option value="completed">Completed The goal is no longer being sought.</option>
      <option value="cancelled">Cancelled The goal has been abandoned.</option>
      <option value="entered-in-error">Entered in Error The goal was entered in error and voided.</option>
      <option value="rejected">Rejected A proposed goal was rejected.</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Goal priority</mat-label>
    <select matNativeControl  formControlName="priority">
      <option value="high-priority">High Priority</option>
      <option value="medium-priority">Medium Priority</option>
      <option value="Low-priority">Low Priority</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Goal Achievement Status</mat-label>
    <select matNativeControl formControlName="achievementStatus">
      <option value="in-progress">In Progress</option>
      <option value="improving">Improving</option>
      <option value="worsening">Worsening</option>
      <option value="no-change">No Change</option>
      <option value="achieved">Achieved</option>
      <option value="sustaining">Sustaining</option>
      <option value="not-achieved">Not Achieved</option>
      <option value="no-progress">No Progress</option>
      <option value="not-attainable">Not Attainable</option>
    </select>
  </mat-form-field>















  <mat-form-field>


    <mat-label>Goal startDateText</mat-label>
    <input matInput [matDatepicker]="startDateTextpicker" formControlName="startDateText">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="startDateTextpicker"></mat-datepicker-toggle>
    <mat-datepicker #startDateTextpicker></mat-datepicker>

  </mat-form-field>

  <mat-form-field>


    <mat-label>Goal targetDateText</mat-label>
    <input matInput [matDatepicker]="targetDateTextpicker" formControlName="targetDateText">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="targetDateTextpicker"></mat-datepicker-toggle>
    <mat-datepicker #targetDateTextpicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Goal addresses" formControlName="addresses">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Goal expressedBy" formControlName="expressedBy">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Goal expressedByType" formControlName="expressedByType">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Goal acceptance" formControlName="acceptance">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Goal targets" formControlName="targets">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()" [mat-dialog-close]="true">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()" [mat-dialog-close]="true" [disabled]="form.invalid">Save Goal</button>
</mat-dialog-actions>
