table {
  justify-items: stretch;
  border-color: white;
  border-spacing: 15px 0px;
  border-width: 2px;
  width: available;
}
td {
  padding-left: 7.5px;
  padding-right: 7.5px;

}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}
