<table width="100%" valign="top">

  <tr *ngIf="featureToggling.goalsAndPreferences.targets && getGoalsReady()">
    <td colspan="2">
    <button mat-raised-button (click)="openDialog()">Add New Goal</button>
    </td>
  </tr>

  <tr *ngIf="featureToggling.goalsAndPreferences.goals && getGoalsReady()">
    <td width="100%" valign="top">
      <app-consolidated-goals></app-consolidated-goals>
    </td>
  </tr>
  <tr *ngIf="featureToggling.goalsAndPreferences.goals && !getGoalsReady()">
    <td colspan="3" style="height: 200px;">
      <div class="group-header">Goals</div>
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </td>
  </tr>







</table>
