
<b>Change in Blood Pressure over Time</b>
<table width="100%">
  <tr>
    <td  width="350" height="250"><app-bpgraph></app-bpgraph></td>
    <td>
      <table width="100%">
        <tr>
          <td>Date</td>
          <td>Systolic</td>
          <td>Diastolic</td>
        </tr>
        <tr>
          <td>05/21/2017</td>
          <td>150</td>
          <td>92</td>
        </tr>
        <tr>
          <td>04/23/2017</td>
          <td>147</td>
          <td>89</td>
        </tr>
        <tr>
          <td>03/11/2017</td>
          <td>145</td>
          <td>90</td>
        </tr>
        <tr>
          <td>02/11/2017</td>
          <td>147</td>
          <td>91</td>
        </tr>
        <tr>
          <td>01/10/2017</td>
          <td>147</td>
          <td>91</td>
        </tr>
        <tr>
          <td>12/12/2016</td>
          <td>155</td>
          <td>92</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
