<mat-toolbar color="primary" style="height:36px;min-height:36px">
  <mat-toolbar-row>
    <span>Careplan</span>
    <!-- This fills the remaining space of the current row -->
    <span class="center-name">{{dataservice.demographic.name}}, DOB: {{dataservice.demographic.dateOfBirth}}</span>
    <span class="example-fill-remaining-space"></span>
    <!-- todo: put patientSearch style into app.component.css file -->
    <!-- todo: patSearch template variable useage to set focus when field is visible is not working -->
    <input type="text"
           #patSearch
           *ngIf="showPatientSearch"
           style="float: right; width:400px; height:60%; font-size: .8em; background: white; color: black; padding-left: .5em;"
           matInput
           placeholder="Enter at least {{minSearchCharacters}} characters to search patient by name"
           [formControl]="patientSearch"
           [matAutocomplete]="auto">
    <mat-icon matTooltip="Select a new patient" aria-label="Button to select a new patient"
              (click)="togglePatientSearch()" *ngIf="devmode">person
    </mat-icon>
    <mat-icon matTooltip="Select a careplan" aria-label="Button to select and new careplan"
              [matMenuTriggerFor]="menuCareplan">folder
    </mat-icon>
    <mat-menu #menuCareplan="matMenu">
      <button mat-menu-item
              *ngFor="let plan of this.dataservice.careplans"
              (click)="this.dataservice.setCurrentCarePlan(plan.fhirid)"
      >
        {{plan.title}}
      </button>
    </mat-menu>
    <mat-icon matTooltip="Show current user information" aria-label="Button to show the users information">
      account_circle
    </mat-icon>
    <mat-icon matTooltip="Show control panel" aria-label="Buttn to show or hide the control panel" class="settings-icon"
              (click)="sidenav.toggle()">settings
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav position="end" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <table>
      <tr>
        <td><p>FHIR Server URL:</p></td>
        <td><p>{{dataservice.mainfhirserver}}</p></td>
      </tr>
      <tr>
        <td><p>API Server URL</p></td>
        <td><p>{{apiURL}}</p></td>
      </tr>
      <tr>
        <td><p>Development Mode</p></td>
        <td><p>{{devmode}}</p></td>
      </tr>
      <tr>
        <td><p>Smart Launch</p></td>
        <td><p>{{smartLaunch}}</p></td>
      </tr>
    </table>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-demographics-panel></app-demographics-panel>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patientSelected($event.option.value)">
      <mat-option
        *ngFor="let patient of filteredPatients | async" [value]="patient.fhirid">
        {{ patient.name }}
      </mat-option>
    </mat-autocomplete>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.link"
         queryParamsHandling="preserve"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}&nbsp;
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
