<div class="group-header" >Medications</div>
<table mat-table [dataSource]="dataService.medications" width="100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell  *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let med"> {{med.name}} </td>
  </ng-container>

  <ng-container matColumnDef="classortype">
    <th mat-header-cell *matHeaderCellDef>Reason</th>
    <td mat-cell *matCellDef="let med"> {{med.classOrType}} </td>
  </ng-container>

  <ng-container matColumnDef="dose">
    <th mat-header-cell *matHeaderCellDef>Dose</th>
    <td mat-cell *matCellDef="let med"> {{med.dose}} </td>
  </ng-container>

  <ng-container matColumnDef="doseForm">
    <th mat-header-cell *matHeaderCellDef>Route</th>
    <td mat-cell *matCellDef="let med"> {{med.doseForm}} </td>
  </ng-container>


  <ng-container matColumnDef="prescribedBy">
    <th mat-header-cell *matHeaderCellDef>Prescribing Clinician</th>
    <td mat-cell *matCellDef="let med"> {{med.prescribedBy}} </td>
  </ng-container>


  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let med"> {{med.startDate}} </td>
  </ng-container>

  <ng-container matColumnDef="adverseReactions">
    <th mat-header-cell *matHeaderCellDef>History of Adverse Reactions</th>
    <td mat-cell *matCellDef="let med"> {{med.adverseReactions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


