<div class="content" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="16px grid">
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let contact of dataservice.contacts">
    <mat-card class="mat-elevation-z4">
      <mat-card-title>{{contact.role.replace('_', ' ') | titlecase }}</mat-card-title>
      <mat-card-content>
        <table>
          <tr>
            <td style="font-weight:bold">Name:</td><td>{{contact.name}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Type:</td><td>{{contact.type}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Phone:</td><td>{{contact.phone}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Email:</td><td>{{contact.email}}</td>
          </tr>
          <tr>
            <td style="font-weight:bold">Address:</td><td>{{contact.address}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
