<div class="active-diagnosis-table">
  <mat-table #table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
      <mat-cell *matCellDef="let diagnosis">
        <mat-checkbox [(ngModel)]="diagnosis.checked"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Condition </mat-header-cell>
      <mat-cell *matCellDef="let diagnosis"> {{diagnosis.name}} </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date of Initial Diagnosis</mat-header-cell>
      <mat-cell *matCellDef="let diagnosis"> {{diagnosis.date}} </mat-cell>
    </ng-container>


    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Second group </th>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
  </mat-table>

</div>
