<div class="chart-wrapper">
<!--
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins" height="200">
  </canvas>


  -->
  <canvas baseChart
          [datasets]="this.dataservice.vitalSigns.chartData"
          [options]="this.dataservice.vitalSigns.lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [labels]="this.dataservice.vitalSigns.xAxisLabels"
          [plugins]="lineChartPlugins" height="200">
  </canvas>
</div>
