
mat-table {
  vertical-align: top;
}

tr.mat-table {
  vertical-align: top;
  min-width: 700px;
}

tr.mat-header-row {
  min-height: 24px;
  height: 24px !important;
}

tr.mat-row {
  min-height: 24px;
  height: 24px !important;
}


th.mat-header-cell, td.mat-cell {
  text-align: left;
  padding: 0 !important;
}
