<table width="100%">
  <tr *ngIf="featureToggling.maintenanceAndInterventions.medications && getMedicationIsReady()">
    <td>
      <app-medication-panel></app-medication-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.education && getEducationIsReady()">
    <td>
      <app-education-panel></app-education-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.counseling && getCounselingIsReady()">
    <td>
      <app-counseling-panel></app-counseling-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.referrals && getReferralsIsReady()">
    <td>
      <app-referral-panel></app-referral-panel>
    </td>
  </tr>
</table>