<table width="100%">
  <tr *ngIf="featureToggling.maintenanceAndInterventions.medications && getMedicationIsReady()">
    <td>
      <app-medication-panel></app-medication-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.medications && !getMedicationIsReady()">
    <td colspan="3" style="height: 200px;">
      <div class="group-header">Active Medications</div>
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.education && getEducationIsReady()">
    <td>
      <app-education-panel></app-education-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.education && !getEducationIsReady()">
    <td colspan="3" style="height: 200px;">
      <div class="group-header">Education</div>
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.counseling && getCounselingIsReady()">
    <td>
      <app-counseling-panel></app-counseling-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.counseling && !getCounselingIsReady()">
    <td colspan="3" style="height: 200px;">
      <div class="group-header">Counseling</div>
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.referrals && getReferralsIsReady()">
    <td>
      <app-referral-panel></app-referral-panel>
    </td>
  </tr>
  <tr *ngIf="featureToggling.maintenanceAndInterventions.referrals && !getReferralsIsReady()">
    <td colspan="3" style="height: 200px;">
      <div class="group-header">Referrals</div>
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </td>
  </tr>
</table>
